# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
venv_rl/
.env

# Noita & ML Logs
logger.txt
noita_ppo_tensorboard/
*.log

# Models & Data
*.zip
*.pth
*.h5

# IDEs
.idea/
.vscode/
.DS_Store
/wandb/
/docs/superpowers/plans/2026-05-09-noita-rl-mvp.md
/docs/superpowers/specs/2026-05-09-noita-rl-mvp-design.md
/data/hall_of_fame/
/data/highlights/
/data/schemas/
/crashes/
/playbacks/
/save00/
/start_training.bat
